<a href="https://colab.research.google.com/github/Francisco99Fer/Python/blob/main/Copia_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comenzamos el curso con diferentes tipos de variables

**Numbers**
Integer -> 2
Float -> 2.3636
Complex number -> 5 + 8J

In [ ]:
entero = 123
flotante = 1.236
numeroComplejo = complex(10,20)

print(entero) # Muestra el valor de la variable entero
print(flotante) # Muestra el valor de la variable flotante
print(numeroComplejo) # Muestra el valor de la variable numeroComplejo

123
1.236
(10+20j)

**Booleans**
True and False

In [ ]:
falso = False
verdadero = True
print(falso) # Muestra el valor de la variable falso
print(verdadero) # Muestra el valor de la variable verdadero

False
True

**String**
Declarar variable
Mostrar longitud
Acceso a caracteres

In [ ]:
tolkien = 'El señor de los ajillos'
print(tolkien) # Muestra el valor de la variable tolkien
first = tolkien[0] 
print(first) # Muestra el valor de la variable first que es el primer caracter del string Tolkien
last = tolkien[len(tolkien)-1] 
print(last) # Muestra el valor de la variable last que es el ultimo caracter del string Tolkien
hola = "hola"
id(hola) # Muestra el id que indentifica el objeto id en el momento de ejecución

139780938632432

**The none Keyword**
Variables que se les asugna el valor "None" significa que no tiene un valor asociado

In [ ]:
val = None
val
type(val) # Muestra el valor de la variable val, el cual es None, que significa que no tiene un valor asociado

NoneType

**String Slicing**

In [ ]:
frase = "Frase de prueba para Carmelo"
frase[0:4] # Muestra el valor de frase desde el caracter en la posición 0 hasta la 4, esta ultima no incluida
frase[6:len(frase)] # Muestra el valor de la variable frase desde el caracter 6 hasta la longitud de la variable
frase[2:13:4] # Muestra el valor de la variable frase desde el caracter 2 hasta el 13, saltando de 4 en 4 carácteres
frase[:] # Muestra el valor completo de la variable frase

'Frase de prueba para Carmelo'

**String Formating**

In [ ]:
frase = "Me gusta un poco Linux"
print(frase)
frase2 = "No me gusta Mac" % frase # Concatenamos frase con frase2
print(frase2)

**Operators**

**Arithmetic Operators**

In [ ]:
# Suma de flotantes
# Declaramos dos variables de tipo flotante
flotante1 = 1.25
flotante2 = 5.66
suma = flotante1 + flotante2 # Sumamos estas variables y guardamos el resultado en una variable nueva
print(suma)

# Suma de flotantes + enteros
# Declaramos dos variables, una flotante y otra entero
entero = 343
flotante3 = 234.23
suma2 = entero + flotante3 # Sumamos estas variables y guardamos el resultado en una cariable nueva
print(suma2)

# Resta
# Declaramos dos variables, una flotante y otra entero
flotante4 = 753.3692
entero2 = 785
resta = flotante4 - entero2 # Restamos estas variables y guardamos el resultado en una cariable nueva
print(resta)

# Multiplicación
# Con las variables declaradas anteriormente realizamos multilpicación
multiplicacion = flotante4 * entero
print(multiplicacion)

# División
# Con las variables declaradas anteriormente realizamos división
division = flotante4 / entero
print(division)

# División Truncada
# Con las variables declaradas anteriormente realizamos división truncada
divisionTruncada = flotante4 // entero
print(divisionTruncada)

# Módulo
# Con las variables declaradas anteriormente realizamos multilpicación
modulo = flotante4 % entero
print(modulo)

# Precedente
# Con las variables declaradas anteriormente realizamos precedentes de signos
precedente = flotante3 + flotante4 * entero
print(precedente)

# Parentesis
# Con las variables declaradas anteriormente realizamos parentesis
print((123 - 98) * 4)

100

**Comparasion Operators**

In [ ]:
# Comparación de operadores
num1 = 7
num2 = 45
num3 = 78
num4 = 45
list1 = [5,4,7]
list2 = [9,5,7]

print(num1 < num2) # Muestra True
print(num2 < num1) # Muestra False

print(num1 == num2) # Muestra False
print(num4 == num2) # Muestra True
print(num4 != num2) # Muestra False
print(num1 != num2) # Muestra True

True
False
False
True
False
True

**Assignment Operators**

In [ ]:
# Operadores de asignación
anno = 2019
print(anno)
print(anno + 1)

primero = 78
segundo = primero
print(primero, segundo)

# Otros operadores
num = 5
print(num)

num += 5 # Suma con operadores de asignación
print(num)

num -= 5 # Resta con operadores de asignación
print(num)

num *= 2 # Multiplicación con operadores de asignación
print(num)

num /= 2 # División con operadores de asignación
print(num)

num **= 2 # Potencias con operadores de asignación
print(num)

**Logical Operators**

In [ ]:
# Expresiones con OR, AND, NOT
boolean = True or False
print(boolean) # Mostrará True

boolean = True and False
print(boolean) # Mostrará False

boolean = False
print(not boolean) # Mostrará True

# Valores por BIT
print(100 * True)
print(100 * False)

**Bitwise Operators**

In [ ]:
num1 = 23
num2 = 34

print(num1 & num2) # Compara los bits
print(num1 | num2) # Compara los bits
print(num1 ^ num2) # Suma los bits
print(~num1)
print(num1 << 3)
print(num2 >> 3)

2
55
53
-24
184
4

**String Operations**

In [ ]:
# Operaciones con String
print('a' < 'b')  # Compara si el caracte 'a' es mayor que 'b'

hola = "Pepe"
hola_copia = "Pepe"

print(hola == hola_copia) # Compara las cadenas de texto

hola_copia = "pepito"

print(hola == hola_copia) # Compara las cadenas de texto

print(hola_copia <= hola) # Compara la longitud de las cadenas de texto

print(hola_copia >= hola) # Compara la longitud de las cadenas de texto

# Concatenación
nombre = "Francisco"
apellido = "Fernández"

nombre_completo = nombre + apellido # Concatena el valor de dos variables
print(nombre_completo)

print("hola" * 3) # Multiplica la variable

# Search
string = "En un lugar de la mancha del cual no puedo acordarme"
print('lugar' in string) # Muestra si el string aparece en la cadena de texto
print('pepe' in string) # Muestra si el string aparece en la cadena de texto

True
True
False
False
True
FranciscoFernández
holaholahola
True
False

**Grouping Values**

In [ ]:
# Hacer una lista
lista = [2, 7.2, "Pepe", False] # Podemos guardar cualquier elemento en la lista
print(lista)
print(lista[2]) # Mostramos el elemento en la posición 2, teniendo en cuenta que los array empiezan en la posición 0

[2, 7.2, 'Pepe', False]
Pepe
5.25

**Gravitational Force**

In [ ]:
G = 6.67 * (10 ** -11)
M_earth = 6.0 * (10 ** 24)
m_moon = 7.34 * (10 ** 22)
r = 3.84 * (10 ** 8)

gravitational_Force = (G * M_earth * m_moon) / (r ** 2)
print(gravitational_Force)

1.9920979817708333e+20

**Conditional Statements**

**La condición If**

In [ ]:
num = 8

if (num == 8): # Si la condición es true continua dentro, si es false no entra
  print('El número es 8')
if (num > 12):
  print('El número es mayor de 12')

# Condiciones y operadores lógicos
num = 12

if num % 2 == 0 and num % 3 == 0 and num % 4 == 0:
    # Entra en esta codición si el número es multiplo de 2, 3, 4
    print("El número es multilpo de 2, 3, y 4")

if (num % 5 == 0 or num % 6 == 0):
    # Entra en esta condición si el número es multiplo de 5 y/o 6
    print("El número es multilpo de 5 y/o 6")

# If anidados
num = 63

if num >= 0 and num <= 100:
    if num >= 50 and num <= 75:
        if num >= 60 and num <= 70:
            print("El número esta entre el rango de mayor o igual que 60 y menor o igual que 70")

# Editar valores según la condición
num = 8
# Si se cumple la condición el valor de la variable cambia
if num < 20:
  num = 13
print(num)

El número es 8
El número es multilpo de 2, 3, y 4
El número es multilpo de 5 y/o 6
El número esta entre el rango de mayor o igual que 60 y menor o igual que 70
13

**Estructura IF-ELSE**

In [ ]:
num = 13
# Comprueba la condición y si no es True, salta automáticamente al else
if num < 14:
  print('El número es menor de 14')
else:
  print('El número es mayo de 14')

**Estructura IF-ELIF-ELSE**

In [ ]:
color = 'Rojo'
# Comprueba si la condición es true 
if color == 'Rojo':
  print('El color es Rojo')
elif color == 'Verde':
  print('El color es Verde')
else:
  'No tiene ni color Verde, ni color Rojo'

**Discounted Price**

In [ ]:
precio = 300

if precio <= 300:
  ''' (Número * Porcentaje) / 100'''
  precio = (precio * 30) / 100
elif precio >= 200 and precio < 300:
  precio = (precio * 20) / 100
elif precio >= 100 and precio < 200:
  precio = (precio * 10) / 100
elif precio >= 0 and precio < 100:
  precio = (precio * 5) / 100
print(precio)

90.0

**Functions**

**Creación de Funciones**

In [ ]:
def escribe_funcion():
  print("hola")
  print("pepe")
  print("como estamos")

escribe_funcion()

# Escribimos una función con parámetros
def minimo(primero, segundo):
  if (primero < segundo):
    print(primero, "es más pequeño que", segundo)
  else:
    print(segundo, "es más pequeño que", primero)

primero = 10
segundo = 11

minimo(primero, segundo)

# Función con parámetros que tiene RETURN
def minimo2(primero, segundo):
  if (primero < segundo):
    return primero
  else:
    return segundo

primero = 10
segundo = 11

num = minimo2(primero, segundo)
print(num)

# Alterar valor de variables
num = 20


def multilpica_10(n):
    n *= 10
    num = n  
    print("Valor de num dentro de la función", num)
    return n


multilpica_10(num)
print("Valor de num fuera de la función:", num)  

# Alterar valor de listas
lista_numeros = [10, 20, 30, 40]
print(lista_numeros)


def multilpicacion_10(lista):
    lista[0] *= 10
    lista[1] *= 10
    lista[2] *= 10
    lista[3] *= 10


multilpicacion_10(lista_numeros)
print(lista_numeros)

# Funciones String, reemplazar
primer_string = "Hola me llamo pepe"
nuevo_string = primer_string.replace("pepe", "Antonio")
print(primer_string)
print(nuevo_string)

# Función cambiar a Mayúsculas y minúsculas
print("Hola antuAn".upper())
print("HoLa PEpe".lower())

# Función para unir Strings
lista = ['a', 'b', 'c']
print('>>'.join(lista))
print('<<'.join(lista))
print(', '.join(lista))

# Formateo de Strings
string1 = "Aprende python {version} con {cname}".format(version = 3, cname = "Educative")
string2 = "Aprende python {0} con {1}".format(3, "Educative")
string3 = "Aprende python {} con {}".format(3, "Educative")

print(string1)
print(string2)
print(string3)

hola
pepe
como estamos
10 es más pequeño que 11
10
Valor de num dentro de la función 200
Valor de num fuera de la función: 20
[10, 20, 30, 40]
[100, 200, 300, 400]
Hola me llamo pepe
Hola me llamo Antonio
HOLA ANTUAN
hola pepe
a>>b>>c
a<<b<<c
a, b, c
Aprende python 3 con Educative
Aprende python 3 con Educative
Aprende python 3 con Educative

**Conversiones de tipos**

In [ ]:
# int()
print(int("12") * 10)
print(int(20.5)) 
print(int(False))

# ord()
print(ord('a'))
print(ord('0'))

# float()
print(float(24))
print(float('24.5'))
print(float(True))

#str()
print(str(12) + '.345')
print(str(False))
print(str(12.345) + ' is a string')

# bool()
print(bool(10))
print(bool(0.0))
print(bool("Hello"))
print(bool(""))

120
20
0
97
48
24.0
24.5
1.0
12.345
False
12.345 is a string
True
False
True
False

**Input para el usuario**

In [ ]:
nombre = input('¿Cual es tu nombre?')
print("hola", nombre)

¿Cual es tu nombre?pepe
hola pepe

**Lambda**

In [ ]:
# Creamos una lambda -> lambda parametro : expresion
triple = lambda num : num * 3  

print(triple(10))

# Lambda con palabras, cogerá la primera letra de cada palabra
concat_strings = lambda a, b, c: a[0] + b[0] + c[0]

print(concat_strings("World", "Wide", "Web"))

30
WWW

**Funciones con argumentos**

In [ ]:
# Función simple
def sumar(n1, n2):
    return n1 + n2


def restar(n1, n2):
    return n1 - n2


def multiplicar(n1, n2):
    return n1 * n2


def dividor(n1, n2):
    return n1 / n2


def calculadora(operation, n1, n2):
    return operation(n1, n2)


result = calculadora(multiplicar, 10, 20)
print(result)
print(calculadora(sumar, 10, 20))

200
30

**Recursión**

In [ ]:
# Hace una cuenta atrás y una cuenta delante
def rec_count(number):
    print(number)
    
    if number == 0:
        return 0
    rec_count(number - 1)  
    print(number)


rec_count(5)

# Recursividad sobre fibonacci
def fib(n):
    if n <= 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)


print(fib(6))

5
4
3
2
1
0
1
2
3
4
5

**Repetición y Concatenación**

In [ ]:
def repeticion(x, y):
    return str(x) * 10 + str(y) * 5


print(repeticion(3, 4))

**Factorial**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1

    if n < 0:
        return -1

    return n * factorial(n - 1)


print(factorial(5))

**Loops**

**For**

In [ ]:
# Bucle del 1 al 10
for i in range(1, 11):  
    if i % 2 == 0:
        print(i, " es par")
    else:
        print(i, " es impar")

# Bucle del 1 al 10 de 3 en 3
for i in range(1, 11, 3):  
    print(i)

float_list = [2.5, 16.42, 10.77, 8.3, 34.21]
print(float_list)

# Bucle sobre la longitud de la lista y multiplica * 2 el valor de cada elemento de la lista
float_list = [2.5, 16.42, 10.77, 8.3, 34.21]
print(float_list)
for i in range(0, len(float_list)):
    float_list[i] = float_list[i] * 2

print(float_list)

1  es impar
2  es par
3  es impar
4  es par
5  es impar
6  es par
7  es impar
8  es par
9  es impar
10  es par
1
4
7
10

**Bucles for anidados**

In [ ]:
n = 50
num_list = [10, 25, 4, 23, 6, 18, 27, 47]

for n1 in num_list:
    for n2 in num_list: 
        if(n1 != n2):
            if(n1 + n2 == n):
                print(n1, n2)

# Break
n = 50
num_list = [10, 25, 4, 23, 6, 18, 27, 47]
found = False  # Esta variable se pone en true cuando se encuentra

for n1 in num_list:
    for n2 in num_list:
        if(n1 != n2):
            if(n1 + n2 == n):
                found = True  # se transforma en True
                break  # Rompe el bucle
    if found:
        print(n1, n2) 
        break  # Rompe el bucle

23 27
27 23

**Break and Continue**

In [ ]:
n = 10
x = 4
found = False

for i in range(0, n):
  if x == i+1:
      found = True
      print("Número no funciona")
      break
else:
    print("El número no funciona")

# Palabra continue
for i in range(0, 10):
    if i%2 == 0:
        continue # Salta
    print(i) # Pinta los números impares

**Bucle while**

In [ ]:
n = 2 
power = 0
val = n
while val < 1000:
    power += 1
    val *= n
print(power)

n = 249
last = n % 10  # Guarda el resto del número entr 10

first = n  # inicializa el bucle con el valor de n
while first >= 10:
    first //= 10

result = first + last
print(result)

9
11

**Balance Brakets**

In [ ]:
# Cuenta los corchetes
def comprobacion(brackets):
    check = 0
    for bracket in brackets:
        if bracket == '[':
            check += 1

        elif bracket == ']':
            check -= 1

        if check < 0:
            break

    return check == 0


bracket_string = '[[[[]]'

print(comprobacion(bracket_string))

False

**A sum of zero**

In [ ]:
def comprobar(num_list):
    for primero in range(len(num_list)):
        for segundo in range(primero + 1, len(num_list)):
            if num_list[primero] + num_list[segundo] == 0:
                return True
    return False


num_list = [10, -14, 26, 5, -3, 13, -5]
print(comprobar(num_list))

True

**Fibonacci Series**

In [ ]:
def fib(n):
    # El primer y el segundo valor son fijos
    primero = 0
    segundo = 1

    if n < 1:
        return -1

    if n == 1:
        return primero

    if n == 2:
        return segundo

    count = 3
    while count <= n:
        fib_n = primero + segundo
        primero = segundo
        segundo = fib_n
        count += 1
    return fib_n


n = 7
print(fib(n))

**Listas**

In [ ]:
jon_snow = ["Jon Snow", "Winterfell", 30]
print(jon_snow)

# Escribe el valor de 0
print(jon_snow[0])

# Escribe la cantidad de elementos
print(len(jon_snow))

# Escribe el valor de el elementp 2 y luego suma 3 a su valor
print(jon_snow[2])
jon_snow[2] += 3
print(jon_snow[2])

# Range()
num_seq = range(0, 10)  # Sequencia desde eñ 0 hasta el 9
num_list = list(num_seq)
print(num_list)

num_seq = range(3, 20, 3)  # Sequencia desde el 3 hasta el 19 de 3 en 3
print(list(num_seq))

# Mergeo de listas
part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
merged_list = part_A + part_B
print(merged_list)

['Jon Snow', 'Winterfell', 30]
Jon Snow
3
30
33

**Common List Operations**

In [ ]:
# Crea una lista vacia y la rellena
num_list = []  # lista vacia
num_list.append(1)
num_list.append(2)
num_list.append(3)
print(num_list)

# Incluir en un lugar exacto
num_list = [1, 2, 3, 5, 6]
num_list.insert(3, 4)  # inserta el valor 4 en la posición 3
print(num_list)

# Eliminar elementos
# Elimina el ultimo elemento
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
last_house = houses.pop()
print(last_house)
print(houses)

# Elimina un elemento en concreto
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
print(houses)
houses.remove("Ravenclaw")
print(houses)
populations = [["Winterfell", 10000], ["King's Landing", 50000],
               ["Iron Islands", 5000]]
print(populations)
populations.remove(["King's Landing", 50000])
print(populations)

# Muestra el indice en el que se encuentra el valor buscado
cities = ["London", "Paris", "Los Angeles", "Beirut"]
print(cities.index("Los Angeles"))

# Ordena
num_list = [20, 40, 10, 50.4, 30, 100, 5]
num_list.sort()
print(num_list)

[1, 2, 3]

**Comparación de listas**

In [ ]:
# Creamos una lista y guardamos en la segunda lista el valor de la primera * 2
nums = [10, 20, 30, 40, 50]
nums_double = []

for n in nums:
    nums_double.append(n * 2)

print(nums)
print(nums_double)

# Creamos un bucle for en una sola linea
nums = [10, 20, 30, 40, 50]

nums_double = [n * 2 for n in nums]

print(nums)
print(nums_double)

# Creamos dos bucles for en una sola linea
list1 = [30, 50, 110, 40, 15, 75]
list2 = [10, 60, 20, 50]

sum_list = [(n1, n2) for n1 in list1 for n2 in list2 if n1 + n2 > 100]

print(sum_list)

[10, 20, 30, 40, 50]
[20, 40, 60, 80, 100]
[10, 20, 30, 40, 50]
[20, 40, 60, 80, 100]

**Tuplas**

In [ ]:
car = ("Ford", "Raptor", 2019, "Red")
print(car)

# Longitud
print(len(car))

# Posción en específico
print(car[1])

# Desde esta poscición hacia adelante
print(car[2:])

# Mergear tuplas
hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = hero1 + hero2
print(awesome_team)

# Buscar
cities = ("London", "Paris", "Los Angeles", "Tokyo")
print("Moscow" in cities)

**Diccionarios**

In [ ]:
# Crear un diccionario
empty_dict = {}  # Diccionarion vacio
print(empty_dict)

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

# Diferentes formas de crear un diccionario
# Crea un diccionario vacio con dict()
empty_dict = dict()
print(empty_dict)

# Otra forma de crear un diccionario
phone_book = dict(Batman=468426, Cersei=237734, Ghostbusters=44678)
print(phone_book)

# Otra forma de crear un diccionario
phone_book = dict([('Batman', 468426),
                   ('Cersei', 237734),
                   ('Ghostbusters', 44678)])
print(phone_book)

# Acceder a valores de diccionarios
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book["Cersei"])
print(phone_book.get("Ghostbusters"))

**Operaciones con diccionarios**

In [ ]:
# Añadir / Actualizar elementos
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

phone_book["Godzilla"] = 46394  # Nuevo elemento
print(phone_book)

phone_book["Godzilla"] = 9000  # Actualizar elemento
print(phone_book)

# Eliminar elemento
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

del phone_book["Batman"]
print(phone_book)

# Longitud del diccionario
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(len(phone_book))

# Comprobar si existe key en el diccionario
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print("Batman" in phone_book)
print("Godzilla" in phone_book)

**Sets**

In [ ]:
# Crear sets
random_set = {"Educative", 1408, 3.142,
              (True, False)}
print(random_set)
print(len(random_set))  # Longitud de set

# Añadir elementos
empty_set = set()
print(empty_set)

empty_set.add(1)
print(empty_set)

empty_set.update([2, 3, 4, 5, 6])
print(empty_set)

# Eliminar elementos
random_set = set({"Educative", 1408, 3.142, (True, False)})
print(random_set)

random_set.discard(1408)
print(random_set)

random_set.remove((True, False))
print(random_set)

# Iterar elementos
odd_list = [1, 3, 5, 7]
unordered_set = {9, 10, 11, 12, 13, 14, 15, 16, 17}

print(unordered_set)

for num in unordered_set:
    if(not num % 2 == 0):
        odd_list.append(num)

print(odd_list)

{1408, 'Educative', (True, False), 3.142}
4

**Set theory operations**

In [ ]:
# Unión
set_A = {1, 2, 3, 4}
set_B = {'a', 'b', 'c', 'd'}

print(set_A | set_B)
print(set_A.union(set_B))
print(set_B.union(set_A))

# Intersección
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}

print(set_A & set_B)
print(set_A.intersection(set_B))
print(set_B.intersection(set_A))

# Diferencia
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}


print(set_A - set_B)
print(set_A.difference(set_B))

print(set_B - set_A)
print(set_B.difference(set_A))

**Conversión de estructura de datos**

In [ ]:
# Convertir en lista
star_wars_tup = ("Anakin", "Darth Vader", 1000)
print(star_wars_tup)
star_wars_set = {"Anakin", "Darth Vader", 1000}
print(star_wars_set)
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

star_wars_list = list(star_wars_tup)  # Convertir desde tupla
print(star_wars_list)

star_wars_list = list(star_wars_set)  # Convertir desde set
print(star_wars_list)

star_wars_list = list(star_wars_dict)  # Convertir desde diccionario
print(star_wars_list)

# Convertir en tupla
star_wars_list = ["Anakin", "Darth Vader", 1000]
print(star_wars_list)
star_wars_set = {"Anakin", "Darth Vader", 1000}
print(star_wars_set)
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

star_wars_tup = tuple(star_wars_list)  # Convertir desde lista
print(star_wars_tup)

star_wars_tup = tuple(star_wars_set)  # Convertir desde set
print(star_wars_tup)

star_wars_tup = tuple(star_wars_dict)  # Convertir desde diccionario
print(star_wars_tup)

# Convertir en set
star_wars_list = ["Anakin", "Darth Vader", 1000]
print(star_wars_list)
star_wars_tup = ("Anakin", "Darth Vader", 1000)
print(star_wars_tup)
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

star_wars_set = set(star_wars_list)  # Convertir desde lista
print(star_wars_set)

star_wars_set = set(star_wars_tup)  # Convertir desde tupla
print(star_wars_set)

star_wars_set = set(star_wars_dict)  # Convertir desde diccionario
print(star_wars_set)

# Convertir en diccionario
star_wars_list = [[1,"Anakin"], [2,"Darth Vader"], [3, 1000]]
print (star_wars_list)
star_wars_tup = ((1, "Anakin"), (2, "Darth Vader"), (3, 1000))
print (star_wars_tup)
star_wars_set = {(1, "Anakin"), (2, "Darth Vader"), (3, 1000)}
print (star_wars_set)

star_wars_dict = dict(star_wars_list) # Convertir desde lista
print(star_wars_dict)

star_wars_dict = dict(star_wars_tup) # Convertir desde tupla
print(star_wars_dict)

star_wars_dict = dict(star_wars_set) # Convertir desde set
print(star_wars_dict)

**From list to tuple**

In [ ]:
my_list = [34, 82.6, "Darth Vader", 17, "Hannibal"]

my_tuple = (my_list[0], my_list[len(my_list) - 1], len(my_list))
print(my_tuple)

**Kth Maximum Integer in a List**

In [ ]:
test_list = [40, 35, 82, 14, 22, 66, 53]
k = 2

test_list.sort()
kth_max = test_list[-k]
print(kth_max)

**Highs and Lows**

In [ ]:
def count_low_high(num_list):
    if (len(num_list)==0):
        return None
    high_list = list(filter(lambda n: n > 50 or n % 3 == 0, num_list))
    low_list = list(filter(lambda n: n <= 50 and not n % 3 == 0, num_list))
    return [len(low_list), len(high_list)]


num_list = [20, 9, 51, 81, 50, 42, 77]

print(count_low_high(num_list))

**Libraries**

In [ ]:
# Importar módulos

import datetime

date_today = datetime.date.today()  # Fecha actual
print(date_today)

time_today = datetime.datetime.now()
print(time_today.strftime("%H:%M:%S"))  # Fecha actual

import datetime as dt

date_today = dt.date.today()  # Fecha actual
print(date_today)

time_today = dt.datetime.now()
print(time_today.strftime("%H:%M:%S"))  # Fecha actual

**Modulos populares**

In [ ]:
import math

fact_of_5 = math.factorial(5)  # Factorial de 5
print(fact_of_5)

gcd = math.gcd(300, 90)  # Denominador común
print(gcd)

log100 = (math.log(10, 100))  # Logaritmo de 10 en base 100
print(log100)

import heapq

heap = []

# Insertar elementos
heapq.heappush(heap, 10)
heapq.heappush(heap, 70)
heapq.heappush(heap, 5)
heapq.heappush(heap, 35)
heapq.heappush(heap, 50)

# Elimina el menor valor
minimum = heapq.heappop(heap)
print(minimum)

import random

rand_num = random.random()
print(rand_num)

rand_num_in_range = random.uniform(30, 50)  # Número aleatorio entre 30 y 50
print(rand_num_in_range)

str_list = ['a', 'b', 'c', 'd', 'e']
random.shuffle(str_list)
print(str_list)

In [ ]:
my_dict = dict()
for i in range (3):
  for j in range(2):
    my_dict[i] = j
print(my_dict)

{0: 1, 1: 1, 2: 1}